<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ReflectOn - Remember everything</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/bbu4tzr.css">
    <script src="../public.js"></script>
</head>
<body id="landing">
    <header>
        <a href="index.html"><img src="../images/logo.png"></a>
    </header>
        <div id="wrapper"> 
            <div id="left">
                <a id="writebox">
                    <h2>WRITE</h2>
                </a>
            </div>
        

            <div id="right">
                <textarea id="writeform"></textarea>
                <button id="writebutton">Save</button>
            </div>
        </div>
        
    <div id="footer-container">
        <footer id="writefooter">
            Copyright 2018. Developled by Alessia Trianti, Sebastian Nedergaard Petersen and Leonardo Miodrag
        </footer> 
    </div>
        
</body>
</html>